/* Copyright (C) 2020-2023 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
  background:    #1a1b26;
  background-alt: #16161e;
  //border:        #89ddff;
  border:        #7aa2f7;
  foreground:    #c0caf5;
  selected:      #7aa2f7;
  active:        #7aa2f7;
  urgent:        #f7768e;
}
